
@{
    ViewBag.Title = "Index";
}

<h2>Lista categorii</h2>

@foreach (var cat in ViewBag.Categories)
{
    <div class="panel-heading">@cat.CategoryName</div>
    <div class="panel-footer">
        <a class="btn btn-sm btn btn-success" href="/Categories/Show/@cat.CategoryID">
            Afisare categorie
        </a>

    </div>
}


    <a class="btn btn-primary" href="/Categories/New">Adauga categorie</a>